/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

html{
    background-image: url(../img/niECRYX.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    gap: 0.5rem 0.5rem;
}

/* estilos de header */

header{
    grid-area: header;
}

.menu{
    color: blanchedalmond;
    font-size: 2rem;
    font-family: 'Black Ops One', cursive;
    text-shadow: 1px 1px 5px rgb(196, 139, 61);
}

.header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 1px 1px 5px rgba(255, 255, 0, 0.678);
}

.menuPrincipal{
    display: flex;
    align-items: center;
    gap: 7rem;
}

.logoUser{
    display: flex;
    justify-content: right;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    float: right;
}

a{
    color: rgba(236, 228, 165, 0.616);
}

.form{
    background-color: white;
}

.contenedorSingin{
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0.6rem;
    left: 5rem;
}

/* estilos de main */

main{
    grid-area: main;
}

main div img{
    margin-top: 0.3rem;
    box-shadow: 0.5px 0.5px 5px darkgoldenrod;
}

.mainVideo{
    grid-area: video;
    margin-left: 5rem;
    margin-top: 5rem;
    padding: rem;
    box-shadow: 1px 1px 5px darkgoldenrod;
}

.mainP{
    grid-area: textoVideo;
    font-family:'Allerta', sans-serif;
    color: white;
    max-width: 100vh;
    position: relative;
    left: 50rem;
    bottom: 14rem;
    padding: 1rem;
}

.MainP{
    grid-area: textoImg;
    font-family:'Allerta', sans-serif;
    color: white;
    max-width: 100vh;
    position: relative;
    left: 50rem;
    bottom: 14rem;
    padding: 1rem;
}

.imgIngame{
    grid-area: img;
    position: relative;
    margin-left: 5rem;
    margin-top: 5rem;
    box-shadow: 1px 1px 5px darkgoldenrod;
}

/* estilos de footer */

footer{
    grid-area: footer;
    background-color: black;
    font-family:'Allerta', sans-serif;
    color: rgba(236, 228, 165, 0.616);
    height: 8rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

footer div ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 2rem;
}

/*factions*/

.mainPortrait{
    display: flex;
    justify-content: center;
    gap: 13rem;
    margin-top: 4rem;
}

.imgBear{
    width: 20%;
}

.imgUsec{
    width: 20%;
}

.imgSkav{
    width: 20%;
}


.portraitInfo{
    font-family:'Allerta', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 2rem;
}

/*traders*/

.traders{
    margin-top: 50px;
    margin: 30px;
}

.tradersLore{
    font-family:'Allerta', sans-serif;
    color: white;
    max-width: 100vh;
    position: relative;
    left: 800px;
    bottom: 200px;

}

/*bosses*/

.bosses{
    margin-top: 50px;
    margin: 30px;
}

.bossRight{
    position: relative;
    color: white;
    left: 1200px;
}

.bossesLore{
    font-family:'Allerta', sans-serif;
    color: white;
    max-width: 100vh;
    position: relative;
    left: 800px;
    bottom: 250px;
}

.bossesLoreRight{
    font-family:'Allerta', sans-serif;
    color: white;
    max-width: 100vh;
    position: relative;
    bottom: 230px;
    left: 50px;
}

/*gear*/

.videoGear{
    margin-top: 50px;
    margin-left: 50px;
}

.videoText{
    color: white;
    display: flex;
    text-align: left;
    font-family:'Allerta', sans-serif;
    max-width: 120vh;
    position: relative;
    left: 650px;
    bottom: 200px;
}

.imgGear{
    margin: 40px;
    margin-bottom: 20px;
    position: relative;
    bottom: 50px;
}

.imgText{
    font-family:'Allerta', sans-serif;
    color: white;
    max-width: 120vh;
    position: relative;
    left: 700px;
    bottom: 230px;
}

/*map*/

.map{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.mapTitle{
    font-family:'Allerta', sans-serif;
    color: white;
    position: relative;
    left:500px;
    margin-top: 50px;

}